<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="innerDiv">
          <h3>Dr Osama Eldeep</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            ducimus officia nihil nulla, quod, nesciunt esse voluptatum tempore
            odit molestiae quaerat autem, recusandae dolor reprehenderit! Omnis,
            at enim voluptate hic quis aliquam? Suscipit mollitia reprehenderit
            illum obcaecati aliquam dignissimos ab, aperiam perspiciatis non
            perferendis quaerat ipsam rerum dolores atque optio.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="innerDiv text-center">
          <div class="img-container">
            <img src="dr-osama.jpg" alt="Dr osama Eldeep" />
          </div>
          <ul>
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/osamaeldeeb2019?mibextid=ZbWKwL"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/@osafeer76"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://x.com/i/flow/login?redirect_after_login=%2FOsamaElDeeb5"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/coachosamaeldeeb?igsh=MnQwamt0eWlucnRj"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/in/osama-eldeeb-4b513aa0/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.tiktok.com/@osamaeldeeb24?_t=8kXMQfiTiCr&_r=1"
                ><i class="fa-brands fa-tiktok"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
