<section class="py-5">
  <div class="container">
    <h2 class="light-blue-color mb-5 underlined-title mx-auto">
      My Projects/Companies
    </h2>
    <div class="row row-gap-4">
      <div class="col-md-4">
        <div class="innerDiv text-center">
          <div>
            <img src="identity-1.png" alt="company image" />
          </div>
          <h2 class="light-blue-color my-3">IdentityBrand</h2>
          <p>
            Structured programs and services to turn your knowledge into income
            and legacy.
          </p>
          <button class="btn">Learn More</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="innerDiv text-center">
          <div>
            <img src="identity-2.png" alt="company image" />
          </div>
          <h2 class="light-blue-color my-3">InspireTools</h2>
          <p>
            Productivity and Inspiring tools for busy professionals, so you can
            keep inspiring and transforming lives.
          </p>
          <button class="btn">Learn More</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="innerDiv text-center">
          <div>
            <img src="identity-3.png" alt="company image" />
          </div>
          <h2 class="light-blue-color my-3">HumanHQ</h2>
          <p>
            Collaborating with HumanHQ to enhance connection, empathy, and sense
            of meaning for individuals and organizations.
          </p>
          <button class="btn">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
