<section>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary pe-1 shadow">
    <div class="container-fluid pe-3 ps-0">
      <a class="navbar-brand" href="#"
        ><img class="logo" src="1.png" alt="the logo of site"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <button class="btn">Let's Connect</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- home content -->

  <!-- edit -->
  <div class="row mx-0">
    <div class="item part-1 col-md-6">
      <div>
        <h1>When Business Meets Psychology</h1>
        <p>
          I strive to help professionals succeed in business and reach their
          full potential in life
        </p>
        <button class="btn">Let's Connect</button>
      </div>
    </div>
    <div class="item part-2 col-md-6">
      <img class="w-100" src="person.jpg" alt="" />
    </div>
    <div class="item part-3 col-md-6">
      <img class="w-100" src="0000.png" alt="roads" />
    </div>
    <div class="item part-4 col-md-6">
      <div>
        <h2>Entrepreneurship</h2>
        <h4>is a challenging Journey!</h4>
        <p>
          But Imagine waking up each day knowing that what you do makes a
          difference in the world.
        </p>
        <p>
          My mission is to help you find fulfillment in what you do every day so
          you can grow your business, keep inspiring others and help
          knowledge-based entrepreneurs turn their knowledge into profit and
          legacy.
        </p>
      </div>
    </div>
  </div>
</section>

<!--  -->
