<section>
  <h2>
    HERE ARE <span class="light-blue-color">THREE WAYS</span> I CAN HELP YOU:​
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card text-center p-3">
          <img src="t-icon-1-.png" alt="icon" class="d-block mx-auto" />
          <h3>Starting-up</h3>
          <p>
            <strong
              >Got a great business idea but don't know where to start?
            </strong>
            I'll guide you through the early stages of your business with
            comprehensive mentoring that covers market research, financial
            planning and branding development. I'll help you select the best
            business model that aligns with your vision and goals, and set you
            up for success."
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card text-center p-3">
          <img src="t-icon-2-.png" alt="icon" class="d-block mx-auto" />
          <h3>Scaling-up</h3>
          <p>
            <strong
              >Scaling up your business can be a complex process, but we're here
              to help you navigate it.
            </strong>
            We'll work collaboratively to create a customized plan that covers
            market expansion research, financial forecasting, team building
            strategies, leadership development, creating operating systems, and
            guidance on the best tools to scale up your company.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card text-center p-3">
          <img src="t-icon-3-.png" alt="icon" class="d-block mx-auto" />
          <h3>Branding</h3>
          <p>
            <strong
              >Building a strong brand and effective marketing strategy is
              essential
            </strong>
            for the success of any business. I can provide guidance in brand
            identity development, social media management, content creation, and
            strategies to help you stand out in the market and effectively
            market your business to increase visibility and reach your target
            audience.
          </p>
        </div>
      </div>
    </div>
    <div class="message">
      <p class="mb-0">
        At the heart of my business coaching approach is a genuine desire to
        help you find your “WHY”. With a background in psychology &
        entrepreneurship, I'm here to guide you towards creating a business that
        not only makes an impact but brings you joy and fulfillment.
      </p>
    </div>
  </div>
</section>
