<section class="py-5">
  <div class="container">
    <h2 class="light-blue-color mb-5 underlined-title">My Story</h2>
    <div class="row">
      <div class="col-md-6 mb-3">
        <p>
          My passion to inspire others was ignited as a teenager, when I was
          first introduced to self-development events. Sitting amongst a theatre
          of strangers, I felt a strong connection to the speaker on stage. I
          felt a burning desire being ignited and bursting inside me; I needed
          to inspire people with the same energy.
        </p>
        <p>
          My books, certificates, and diplomas filled an entire library, but
          ironically I remained unfulfilled. I had also developed a brilliant
          career as a geologist, which I loved, but I found difficulty in
          bridging the two lands of knowledge.
        </p>
        <p>
          Reluctantly, I set aside anything related to self-development.
          Although I felt sliced in half, I focused on my secure career and
          tried to ignore the emptiness I felt inside of me. Six months later I
          was nominated to attend a course on project management; whilst on the
          course, all the pieces of the puzzle came together.
        </p>
        <p>
          I discovered the values that drove my successes. These values became
          my engine; I was compelled to learn more about how values impacted
          human motivation and behaviour, so I went on an exploration, starting
          with myself.
        </p>
        <p>
          I became a Toastmaster, a certified motivational coach, and a
          professional member of two leading associations: National Speakers
          Association (NSA) and Global Speakers Federation (GSF). All the
          knowledge came together, but something still was blocking me from
          sharing my words and ideas. Fear; it held me back and got in my way.
          I've learned it's natural to feel fearful, but the problem was I let
          my fears prevent me from even trying....
        </p>
        <button class="btn d-block mx-auto">Read More</button>
      </div>
      <div class="col-md-6">
        <div class="images">
          <img class="w-100" src="teach3.jpg" alt="professor image" />

          <!-- <img class="w-100" src="teach2.jpg" alt="professor image" /> -->
          <!-- <img
            class="w-100 toggle-image"
            src="teach3.jpg"
            alt="professor image"
          /> -->
        </div>
      </div>
    </div>
  </div>
</section>
