<section class="py-5">
  <h2 class="light-blue-color mx-auto my-5 underlined-title">Testimonials</h2>
  <owl-carousel-o [options]="customOptions">
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Amira Abdelhamieed.jpeg" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Dalia Seleem.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Doaa Mansy.jpeg" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img
          src="Testimonials - Photos/Dr.Hala Eldesouky Hussien.png"
          alt="person"
        />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img
          src="Testimonials - Photos/Dr.Jihan Mohammed Kassem.png"
          alt="person"
        />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Dr.Shereen Elnaggar.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Eman Ashraf.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Fatiha Agraine.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Houda M. ElAbyed.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Mona Gharib.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Mona Mirza.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Nour Salah.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/Osama Hegazy.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->

    <!--  -->
    <ng-template carouselSlide>
      <div class="item border shadow p-3 rounded">
        <img src="Testimonials - Photos/ياسر حمدي.png" alt="person" />
        <p>This man is good at</p>
      </div>
    </ng-template>
    <!--  -->
  </owl-carousel-o>
</section>
