<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="innerDiv">
          <img
            src="person-certifications.jpg"
            alt="ElDeep image"
            class="w-100"
          />
        </div>
      </div>
      <div class="col-xl-6">
        <div class="innerDiv">
          <h2 class="light-blue-color mb-5 underlined-title">Certifications</h2>
          <ul>
            <li>
              <p>
                <span class="square">
                  <i class="fa-solid fa-check light-blue-color"></i>
                </span>
                For over 17 years, I have been committed to building a
                distinguished career in training and consulting, starting as a
                Training Manager at the Financial and Industrial Company.
                Throughout these years, I have obtained various certifications
                and accreditations, including being a Certified Professional
                Trainer from the American University in Cairo and a Certified
                Trainer from the Egyptian Workers' Cultural Institution. I also
                earned a certification as an Entrepreneurship Trainer from the
                Center for Creativity and Entrepreneurship at the Egyptian
                Ministry of Communications, as well as a Human Resources
                Management Consultant from the American Institute for HR
                Certification.
              </p>
            </li>
            <li>
              <p>
                <span class="square">
                  <i class="fa-solid fa-check light-blue-color"></i>
                </span>
                One of my key achievements was founding the "Intaqa" Team for
                Training and Consulting and Knowledge Gate Academy for Training
                and Consulting, where I focused on building a supportive
                educational community. Additionally, my membership in
                Toastmasters International has been an inspiration for
                developing communication skills, which has enabled me to serve
                as a training consultant for various Egyptian organizations.
              </p>
            </li>
            <li>
              <p>
                <span class="square">
                  <i class="fa-solid fa-check light-blue-color"></i>
                </span>
                I have completed many diplomas and courses that have contributed
                to my expertise, including a certification as a Professional
                Trainer from the American University in Cairo and a Union
                Trainer certification from the Human Development Trainers Union.
                Moreover, I developed my skills in Neuro-Linguistic Programming
                (NLP), becoming a Certified Practitioner and a Certified Master
                Practitioner from the American Board, which gives me the ability
                to help others reach their full potential.
              </p>
            </li>
            <li>
              <p>
                <span class="square">
                  <i class="fa-solid fa-check light-blue-color"></i>
                </span>
                As a Specialist in Training Needs Analysis, I work on designing
                training programs that meet the needs of individuals and
                organizations. Additionally, I am a Certified Hypnotherapist
                from Dr. Steve Jones, enabling me to offer effective tools to
                overcome psychological and professional challenges.
              </p>
            </li>
            <li>
              <p>
                <span class="square">
                  <i class="fa-solid fa-check light-blue-color"></i>
                </span>
                With this extensive background, I continue to strive for
                inspiration and positive change in others' lives, whether
                through direct training or professional consulting. If you are
                looking for a reliable partner in your journey towards growth
                and development, I am here to support you every step of the way.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parteners">
      <h2 class="light-blue-color text-center">Our Parteners</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template class="mx-0" carouselSlide
          ><img src="Partners/1.png" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/2.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/3.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/4.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/5.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/6.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/7.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/8.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/9.png" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/10.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/11.jpg" alt="partener"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="Partners/12.jpg" alt="partener"
        /></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
